<div class="container text-center">
    <div class="row row-cols-4 cat-card-container" [scrollWindow]="false" infinite-scroll [infiniteScrollDistance]="1"
        (scrolled)="onScroll()">
        @for (catFact of catFacts$ | async; track $index) {
        <div class="card col">
            <div class="card-body">
                <h5 class="card-title">Cat fact no. {{$index + 1}}</h5>
                <p class="card-text">{{catFact.data}}</p>
            </div>
        </div>
        }
    </div>
</div>